<launch>
	<node pkg='ternary_dsp' type='receiver.py' name='receiver' output='screen'/>
	<node pkg='ternary_dsp' type='transmitter.py' name='transmitter' output = 'screen'/>
	<node pkg='plotjuggler' type='PlotJuggler' name='plotjuggler' output='screen'/>
	<node pkg='ternary_dsp' type='trigger.py' name='trigger' output='screen'/>
	<!-- To trigger the ternary pulse compression code run the following command-->
	<!-- rostopic pub /trigger std_msgs/Empty -->
</launch>
